@import 'reset';
@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Regular.ttf') format('truetype');
}
#root {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    nav {
        display: flex;
        justify-content: center;
        a {
            padding: 10px 10px 10px 35px;
            margin-right: 20px;
            background: url('../img/menu-icon.png') left no-repeat;
            background-size: contain;
            text-decoration: none;
            color: #313131;
        }
        a:hover, a:active{
            color: #6bcc84;
        }
    }
    section{
        h1 {
            margin: 30px;
            font-size: 2em;
        }
    }   
}